
:root {
    --darkblue: #062846;
    --lightblue: #258de3;
    --red: #dc2028;
    --bgwhite: #efefef;
    --white: #fff;
    --text: #8897b6;
	--green: #3bc847;
}

body {
    margin: 0px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	background-color: var(--bgwhite);
	padding: 0 2rem;
}

.centered{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

input {
	appearance: none;
	border-radius: 0;
}

h1::selection{
	background-color: var(--text);
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 75%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-field {
	/* border: 1; */
	z-index: 1;
	background-color: transparent;
	border: 2px solid var(--lightblue); 
	/* font: inherit; */
	font-size: 1.125rem;
	padding: .25rem;
	border-radius: 10PX;
	margin: 2px;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: var(--lightblue);
		&+.input-label {
			color: var(--lightblue);
			transform: translateY(-1.5rem);
		}
	}
}

.input-label-main {
	font-family: 'Montserrat', sans-serif;
	color: var(--red);
	/* display: block; */
	transition: .25s ease;
	margin-bottom: -1rem;
}

.action {
	margin-top: 2rem;
}

.action-button {
	font-family: 'Montserrat', sans-serif;
	font: inherit;
	font-size: 1.25rem;
	padding: 0.5em;
	width: 100%;
	font-weight: 500;
	background-color: var(--red);
	border: 0px;
	border-radius: 6px;
	color: var(--bgwhite);
	&:focus {
		outline: 0;
	}
}

.action-button:hover {
	/* background-color: var(--red);
	border-radius: 6px;
	border: 4px solid var(--red);
	color: var(--bgwhite); */
	opacity: 90%;
	transition: .2s ease;
}

.custom-file-upload {
	border: 2px solid var(--darkblue);
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--text);
	text-align: center;
  }
  
  .custom-file-upload:hover {
	background-color: var(--bgwhite);
  }